@model MokkiSovellus.Models.Work

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Work</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
