@model IEnumerable<MokkiSovellus.Models.Work>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
